body {
    max-width: 500px;
    margin: 0 auto;
}

.message {
    margin-bottom: 20px;
}

.out-message {
    padding: 5px;
    background-color: rgb(250, 191, 171);
}

.in-message {
    padding: 5px;
    background-color: darksalmon;
}