body {
    font-family: "Open Sans", sans;
    color: #555;

}

h1{
    color: #555;
    background-color: burlywood;
}

img {
    height: 100px;
    text-align: left;
    
}

figcaption span {
    font-size: .85em;
    color: crimson;
}

p#production-description {
    margin: 20px 0 20px 0;
    text-align: justify;

}

section.review {
    padding: 10px;
    background-color: firebrick;
    margin: 20px 0 20px 0;
}